.signup-app {
	background-image: linear-gradient(177deg, #183a78, #0a1b43);
	width: 100%;
	.image-bg {
		background-image: url("../images/phone-app-blue.svg");
		background-repeat: no-repeat;
		background-size: 447px 460px;
		background-position: -100px 82px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		h4,
		h2 {
			text-align: left;
		}

		h2 {
			color: $color-white;
			font-size: 34.6px;
		}

		.layout {
			padding-top: 120px;
			padding-bottom: 120px;
			padding-left: 180px;
		}

		.signup-form {
			.container {
				justify-content: flex-start;
			}
		}
	}
}

.why-fieldmed {
	.try {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-image: $gradient-blue;

		.image-bottom {
			@include image("forpages/discover-bottom.svg", 100vw, 4.9vw);
		}

		.layout {
			margin-top: 100px;
			margin-bottom: 150px;
			h2 {
				font-size: 31px;
				font-weight: 700;
				line-height: 1.16;
				letter-spacing: -0.72px;
				text-align: center;
				color: $color-white;
			}
		}
	}
	.features {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.title {
			margin-top: 100px;
			margin-bottom: 60px;
		}

		.features-grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 40px;

			h3,
			p {
				text-align: left;
			}

			.feature {
				display: flex;
				margin-bottom: 25px;

				.icon {
					@include image("forpages/features/Icon.svg", 85px, 74px);
					flex: 0 85px;
					margin-right: 25px;
				}

				.info {
					flex: 1;

					h3 {
						font-size: 15.1px;
						font-weight: 900;
						line-height: 1.33;
						letter-spacing: -0.25px;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}

.signup-bottom {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 230px;

	.image-city {
		@include image("home/city.svg", 1189px, 364px);
		position: absolute;
		z-index: 0;
		top: -200px;
		left: 0;
	}

	.image-ground {
		@include image("home/ground.svg", 100%, 370px);
		position: absolute;
		background-size: cover;
		z-index: 0;
	}

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 368px;
		width: 1200px;

		.image-left {
			@include image("home/doc-chart.svg", 242px, 264px);
			transform: translate(-10px, -70px);
		}

		.image-right {
			@include image("home/dance.svg", 323px, 290px);
			transform: translate(45px, -110px);
		}

		.signup-form {
			width: 700px;
			transform: translate(35px, 0px);
		}
	}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(179deg, #183a78, #0a1b43);

	.social-media {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		display: flex;
		justify-content: center;
		padding: 50px 0px;

		.layout {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.icons {
				a {
					font-size: 32px;
					margin-left: 15px;

					&:hover {
						color: $color-pink !important;
					}
				}
			}
		}
	}

	.sitemap {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.27);
		display: flex;
		justify-content: center;
		padding: 90px 0px;

		.layout {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			.from-the-blog {
				width: 300px;
			}

			.links,
			.from-the-blog {
				display: flex;
				justify-content: center;
				flex-direction: column;
				h4 {
					text-align: left;
					margin-bottom: 10px;
				}
				a {
					@include links1;
					color: $color-white;
					font-size: 12.2px;
					font-family: "SourceSansPro", sans-serif;
					font-weight: 400;
					line-height: 2.12;
					letter-spacing: normal;
					transition: 200ms ease-out color;

					&:hover {
						color: $color-pink !important;
					}
				}

				p {
					text-align: left;
					opacity: 1;
					font-family: "SourceSansPro", sans-serif;
					font-size: 12.2px;
					line-height: 2.12;
					letter-spacing: normal;
					color: $color-white;
				}
			}
		}
	}

	.copyright {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		display: flex;
		justify-content: center;
		padding: 40px 0px;

		.layout {
			display: flex;
			justify-content: space-between;
			align-items: center;

			a,
			p,
			i {
				opacity: 0.4;
				font-family: "SourceSansPro", sans-serif;
				font-size: 12.2px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 2.12;
				letter-spacing: normal;
				color: #ffffff;
			}

			a:hover {
				opacity: 1;
				color: $color-pink !important;
			}

			i {
				margin: 0px 5px;
			}

			.links {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
