footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(179deg, #183a78, #0a1b43);

	.social-media {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		display: flex;
		justify-content: center;
		padding: 50px 0px;

		.layout {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.icons {
				a {
					font-size: 32px;
					margin-left: 15px;
					&:before {
						transition: 200ms ease-out color;
					}

					&:hover {
						&:before {
							color: $color-pink !important;
						}
					}
				}
			}
		}
	}

	.sitemap {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.27);
		display: flex;
		justify-content: center;
		padding: 90px 0px;

		.layout {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			@media #{$mq-small} {
				flex-wrap: wrap;
			}

			.from-the-blog {
				width: 300px;
				@media #{$mq-small} {
					margin-top: 40px;
				}
			}

			.links,
			.from-the-blog {
				display: flex;
				justify-content: center;
				flex-direction: column;
				h4 {
					text-align: left;
					margin-bottom: 10px;
				}
				a {
					@include links1;
					color: $color-white;
					font-size: 12.2px;
					font-family: "SourceSansPro", sans-serif;
					font-weight: 400;
					line-height: 2.12;
					letter-spacing: normal;
					transition: 200ms ease-out color;

					&:hover {
						color: $color-pink !important;
					}
				}

				p {
					text-align: left;
					opacity: 1;
					font-family: "SourceSansPro", sans-serif;
					font-size: 12.2px;
					line-height: 2.12;
					letter-spacing: normal;
					color: $color-white;
				}
			}
		}
	}

	.copyright {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		display: flex;
		justify-content: center;
		padding: 40px 0px;

		.layout {
			display: flex;
			justify-content: space-between;
			align-items: center;

			a,
			p,
			i {
				opacity: 0.4;
				font-family: "SourceSansPro", sans-serif;
				font-size: 12.2px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 2.12;
				letter-spacing: normal;
				color: #ffffff;
			}

			a:hover {
				opacity: 1;
				color: $color-pink !important;
			}

			i {
				margin: 0px 5px;
			}

			.links {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
