.signup-form {
	width: 100%;
	margin-bottom: 65px;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;

		input {
			background-color: $color-white;
			border: none;
			border-top-left-radius: 7.2px;
			border-bottom-left-radius: 7.2px;
			box-shadow: 0 14px 36px 0 rgba(0, 0, 0, 0.1);
			outline: none;
			min-width: 440px;
			padding: 19px 30px;
		}

		button {
			width: 168px;
			height: 50px;
			background-color: $color-pink;
			font-size: 12.2px;
			font-family: "Muli", sans-serif;
			font-weight: 600;
			letter-spacing: normal;
			color: white;
			border-top-right-radius: 7.2px;
			border-bottom-right-radius: 7.2px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px 10px;
			min-width: 100px;
			outline: none;
			cursor: pointer;
		}
	}
}
