header {
	padding-top: 94px;
	background-image: $gradient-blue;

	// Options
	.align-center {
		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			text-align: center !important;
		}

		.top-section,
		.bottom-section,
		.container {
			align-items: center !important;
			justify-content: center !important;
		}
	}

	.align-left {
		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			text-align: left !important;
		}

		.top-section,
		.bottom-section,
		.container {
			align-items: flex-start !important;
			justify-content: flex-start !important;
		}
	}

	&.with-center-box {
		height: 850px;
	}

	// Sections
	.top-section,
	.bottom-section {
		width: 100%;
		display: flex;
		justify-content: center;

		.container {
			padding: 100px 0px;
			display: flex;
			align-items: center;
			flex-direction: column;

			@media #{$mq-small} {
				padding: 100px 30px !important;
			}

			h1 {
				max-width: 677px;
				margin-bottom: 20px;

				@media #{$mq-small} {
					max-width: unset;
				}
			}

			p {
				@include paragraph1($color-white);
				margin-bottom: 25px;
			}

			.buttons {
				display: flex;
				justify-content: center;
				align-items: center;
				.button-pink {
					margin-right: 15px;
					padding: 10px;
					min-width: 164px;
				}
				.button-blue-sky {
					min-width: 164px;
					padding: 10px;
				}
			}
		}
	}

	.bottom-section {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.breadcrums {
		display: flex;
		justify-content: center;
		padding: 10px 0px;
		background-color: rgba(0, 0, 0, 0.3);

		.layout {
			display: flex;
			align-items: center;

			i {
				font-size: 5px;
				margin: 0px 10px;
			}

			a {
				@include links1($color-blue-sky);

				&.active {
					color: $color-white;
				}
			}
		}
	}
}

.main-header-title {
	width: 100%;
	display: flex;
	justify-content: center;

	.layout {
		margin-top: 94px;
		padding: 80px 0px;
		display: flex;
		align-items: center;
		flex-direction: column;

		@media #{$mq-small} {
			padding: 100px 30px !important;
		}

		h1 {
			max-width: 800px;
			margin-bottom: 20px;

			@media #{$mq-small} {
				max-width: unset;
			}
		}

		p {
			@include paragraph1($color-white);
			margin-bottom: 25px;
		}
	}
}
