// Muli Fonts
@include font-face(Muli, "../fonts/muli/Muli-SemiBold", 600, normal, ttf);
@include font-face(Muli, "../fonts/muli/Muli-Bold", 700, normal, ttf);
@include font-face(Muli, "../fonts/muli/Muli-ExtraBold", 900, normal, ttf);

// Source Sans Pro Fonts
@include font-face(SourceSansPro, "../fonts/sourcesanspro/SourceSansPro-Regular", 400, normal, ttf);
@include font-face(SourceSansPro, "../fonts/sourcesanspro/SourceSansPro-Black", 900, normal, ttf);

// Types Predefined
@mixin title1 {
	font-size: 50.4px;
	font-family: "Muli", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: -1px;
	text-align: center;
	color: $color-white;
}

@mixin title2 {
	font-size: 36.7px;
	font-family: "Muli", sans-serif;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: -0.85px;
	text-align: center;
	color: $color-blue-dark;
}

@mixin para1 {
	font-size: 17.3px;
	font-family: "SourceSansPro", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.3;
	letter-spacing: normal;
	text-align: center;
	color: $color-blue-dark;
}

@mixin para2 {
	font-size: 16.6px;
	font-family: "SourceSansPro", sans-serif;
	opacity: 0.7;
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
	color: $color-blue-dark;
}

@mixin para3 {
	font-size: 14.4px;
	font-family: "SourceSansPro", sans-serif;
	opacity: 0.7;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: $color-blue-dark;
}

@mixin links1 {
	font-size: 12.2px;
	font-family: "Muli", sans-serif;
	font-weight: 600;
	letter-spacing: normal;
	color: $color-white;
}
