/*** Parameters ***/

// Colors
$color-blue: #183a78;
$color-blue-dark: #0a1b43;
$color-blue-sky: #2dbaf6;
$color-pink: #ba104a;
$color-white: #ffffff;
$color-gray-light: #eff6fa;

// Gradients
$gradient-blue: linear-gradient(0deg, $color-blue 0%, $color-blue-dark 100%);
$gradient-blue-reversed: linear-gradient(0deg, $color-blue-dark 0%, $color-blue 100%);

// Borders
$border-light: 1px solid $color-gray-light;

// Breakpoints
$bp-large: 1366px;
$bp-medium: 1024px;
$bp-small: 800px;
$bp-mobile: 560px;

// Media queires
$mq-small: "only screen and (max-width: #{$bp-small})";
$mq-medium: "only screen and (max-width: #{$bp-medium})";
$mq-large: "only screen and (max-width: #{$bp-large})";
$mq-mobile: "only screen and (max-width: #{$bp-mobile})";

// Font Family
$font-primary: "Muli", sans-serif;
$font-secondary: "SourceSansPro", sans-serif;

// Image Paths
$logo-path: url("/img/logos/logo.svg");
$full-logo-path: url("/img/logos/logo-full.svg");
