.pages_w_breadcrum {
	.landing {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: unset;
		position: relative;

		h4 {
			text-align: left;
		}

		h1,
		h3,
		p {
			text-align: left;
			color: $color-white;
		}

		p {
			opacity: 0.7;
		}

		h3 {
			&.community-health {
				font-size: 28.8px;
				font-weight: normal;
				line-height: 1.85;
				letter-spacing: -0.42px;
			}

			&.our-story {
				width: 506px;
				font-size: 21.6px;
				font-weight: 400;
				line-height: 1.17 !important;
				letter-spacing: -0.72px;
			}
		}

		.image-landing {
			position: absolute;
			z-index: 2;

			&.hospitals {
				@include image("forpages/hospitals/landing.svg", 545px, 428px);
				right: -130px;
				top: 140px;
			}

			&.communities {
				@include image("forpages/communities/landing.svg", 670px, 580px);
				right: -240px;
				top: 130px;
			}

			&.ems {
				@include image("forpages/ems/landing.svg", 735px, 845px);
				right: -246px;
				top: 72px;
			}

			&.community-health {
				@include image("communityhealth/landing.svg", 543px, 340px);
				right: 36px;
				top: 130px;
			}

			&.our-story {
				@include image("ourstory/landing.svg", 485px, 357px);
				right: -55px;
				top: 130px;
			}
		}

		.top {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 100px 0px;

			&.community-health {
				background-image: url("../images/communityhealth/bg.png");
				background-repeat: no-repeat;
				background-size: 1272px;
				background-position: bottom center;
			}
		}

		.bottom {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 100px 0px;
			background-color: rgba(0, 0, 0, 0.2);
			p {
				margin-bottom: 20px;
			}
			a {
				width: 218px;
			}
		}
	}

	.benefit {
		width: 100%;
		padding: 150px 0px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		&.white {
			background-color: $color-white;
		}
		&.gray {
			background-color: $color-gray-light;
		}

		.image {
			@include image("forpages/hospitals/feature1.png", 760px, 694px);
			position: absolute;
			top: -80px;

			&.left {
				left: -370px;
			}

			&.right {
				right: -370px;
			}
		}

		.layout {
			display: flex;
			position: relative;

			&.left {
				justify-content: flex-start;
			}

			&.right {
				justify-content: flex-end;
			}

			.container {
				width: 456.5px;

				h2,
				h3,
				h4,
				p {
					text-align: left;
				}

				.line {
					height: 2px;
					width: 100%;
					background-color: $color-blue-sky;
					margin-top: 20px;
					margin-bottom: 30px;
				}

				a {
					width: 205px;
				}

				.benefit-items {
					margin-bottom: 50px;
					.item {
						display: flex;
						margin-bottom: 25px;

						.icon {
							@include image("forpages/features/Icon.svg", 85px, 74px);
							flex: 0 85px;
							margin-right: 25px;
						}

						.info {
							flex: 1;

							h3 {
								font-size: 15.1px;
								font-weight: 900;
								line-height: 1.33;
								letter-spacing: -0.25px;
								margin-bottom: 5px;
							}
						}
					}
				}
			}
		}

		&.community-health {
			.layout {
				.container {
					width: 612px;
					.p16 {
						font-family: Muli;
						font-size: 20.2px;
						font-weight: 600;
						line-height: 1.39;
						letter-spacing: -0.49px;
					}
					p {
						margin-bottom: 20px;
					}
					h2 {
						font-size: 32.4px;
					}
					h3 {
						font-size: 16.6px;
					}
				}

				.image {
					width: 445px;
					height: 445px;
					right: -210px;
					top: 200px;
				}
			}
		}

		&.our-story {
			padding-bottom: 0;
			.layout {
				.container {
					width: 830px;

					.p16 {
						columns: 2;
						column-gap: 30px;
						line-height: 1.78;
					}

					.p14 {
						width: 540px;
					}

					p {
						margin-bottom: 20px;
					}

					h2 {
						font-size: 23.8px;
						font-weight: 800;
						line-height: 1.33;
						letter-spacing: -0.59px;
						width: 730px;
					}
				}

				.image {
					width: 291px;
					height: 139px;
					right: -170px;
					top: 74px;
				}
			}
		}
	}

	.the-alternative {
		width: 100%;
		padding: 0px 0px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $color-gray-light;

		.information {
			width: 600px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-top: 40px;
			margin-bottom: 90px;

			h2 {
				font-size: 29.5px;
			}

			.line {
				height: 2px;
				width: 60%;
				background-color: $color-blue-sky;
				margin-bottom: 20px;
			}
		}

		.box {
			width: 1200px;
			padding: 80px 150px;
			border-radius: 14.4px;
			box-shadow: 0 52px 46px 0 rgba(0, 0, 0, 0.04);
			background-color: $color-white;
			transform: translate(0px, -50px);
			display: flex;
			justify-content: flex-start;
			align-items: center;

			.image {
				@include image("communityhealth/image1.png", 339px, 427px);
				margin-left: 60px;
			}

			.container {
				width: 544px;
				h4,
				h2,
				p {
					text-align: left;
				}

				p {
					margin-bottom: 20px;
				}

				.line {
					height: 2px;
					width: 100%;
					background-color: $color-blue-sky;
					margin-top: 20px;
					margin-bottom: 30px;
				}
			}
		}

		&.our-story {
			padding-bottom: 0;
			.box {
				justify-content: flex-end;
				transform: translate(0px, 158px);
				background-image: url("../images/phone-app.svg");
				background-repeat: no-repeat;
				background-size: 538px 540px;
				background-position: -145px 120px;

				.image-doc {
					@include image("ourstory/image2.png", 269px, 234px);
					position: absolute;
					right: 50px;
					top: -200px;
				}

				.container {
					width: 546px;

					h2 {
						font-size: 31px;
						font-weight: 800;
						line-height: 1.24;
						letter-spacing: -0.81px;
					}
				}
			}
		}
	}

	.solution {
		width: 100%;
		background: $color-white;
		padding-top: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 805px;

			h3 {
				font-size: 28.8px;
				font-weight: 800;
				line-height: 1.4;
				letter-spacing: -0.72px;
			}

			.line {
				height: 2px;
				width: 80%;
				background-color: $color-blue-sky;
				margin-bottom: 20px;
			}

			.icon {
				@include image("icons/icon21.svg", 85px, 75px);
				margin-bottom: 20px;
			}

			a {
				width: 205.9px;
			}

			p {
				margin-bottom: 20px;
			}
		}
	}

	.case-studies {
		padding-top: 100px;
		.container {
			margin-bottom: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.title {
				margin-bottom: 30px;
				h4 {
					margin-bottom: 10px;
				}
			}

			.carousel {
				display: grid;
				justify-content: center;
				align-items: center;
				grid-template-columns: 1fr 900px 1fr;
				grid-template-rows: 1fr;
				grid-column-gap: 60px;
				margin-bottom: 30px;

				.icon-left,
				.icon-right {
					font-size: 20px;
					i {
						cursor: pointer;
						&:before {
							color: $color-blue-sky;
						}
					}
				}

				.case-list {
					display: grid;
					justify-content: center;
					align-items: center;
					grid-template-columns: 1fr 1fr 1fr;
					grid-template-rows: 1fr;
					grid-column-gap: 30px;

					.case {
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						border-radius: 7.2px;
						box-shadow: 0 52px 46px 0 rgba(0, 0, 0, 0.04);
						background-color: $color-white;
						overflow: hidden;
						height: 100%;

						.top-image {
							flex: 0 180px;
							width: 100%;
							background-color: $color-gray-light;
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 35px;
						}

						.info {
							flex: 1;
							padding: 25px;
							display: flex;
							justify-content: center;
							align-items: center;
							flex-direction: column;

							h3 {
								font-size: 22.3px;
								font-weight: 600;
								line-height: 1.06;
								letter-spacing: -0.56px;
								text-align: center;
							}

							.line {
								height: 2px;
								width: 100%;
								background-color: $color-blue-sky;
								margin-bottom: 20px;
							}
						}

						.button-container {
							padding: 30px;
							width: 100%;
							a {
								.icon-download {
								}
							}
						}
					}
				}

				.icon-right {
					.icon-arrow-right {
					}
				}
			}

			.dots {
				display: grid;
				justify-content: center;
				align-items: center;
				grid-template-columns: 1fr 1fr 1fr;
				grid-column-gap: 8px;
				width: min-content;

				.dot {
					width: 14px;
					height: 14px;
					border-radius: 50%;
					background-color: transparent;
					border: 2px solid $color-blue-sky;
					margin-right: 8px;

					&.active {
						background-color: $color-blue-sky;
					}
				}
			}
		}
	}

	.faqs {
		padding: 100px 0px;
		background-color: $color-gray-light;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.layout {
			.question {
				background-color: $color-white;
				border-radius: 14.4px;
				box-shadow: 0 52px 46px 0 rgba(0, 0, 0, 0.04);
				padding: 50px 72px;
				margin-bottom: 24px;

				.title {
					display: flex;
					justify-content: space-between;
					align-items: center;

					i {
						&:before {
							color: $color-blue-sky;
							font-size: 14px;
						}
					}
				}

				.line {
					height: 2px;
					width: 100%;
					background-color: $color-blue-sky;
				}

				.content {
					margin-top: 0px;
					height: 0px;
					overflow: hidden;

					p {
						text-align: left;
						margin-bottom: 20px;

						&:last-child {
							margin-bottom: 0px;
						}
					}

					&.active {
						height: unset;
						margin-top: 30px;
					}
				}
			}
		}
	}
}
